extends layout
block content
  .container
    .four.columns
      form(action='/', method='get')
        input(placeholder='Band',name='band')
        a.button#search_button(href="#") Search
      h2 About
      p BandURL provides a link for any band on any page

      h2 Contact Us
      p thephatmann@gmail.com

    .right.ten.columns.offset-by-two
      h2 #{band.name}
      h3 Songs
      .songs
        if songs
          for song in songs
            li
              a(href=#{song.url}) #{song.name}