extends layout
block content
  form(action='/', method='get')
    input(placeholder='Band',name='band')
    input(type='submit') Search

  if bands.length > 0
    h3 Bands
    .bands
      for band in bands
        li
          a(href=band.url) #{band.name}
  else
    p No bands found.