extends layout
block content
  form(action='/', method='get')
    input(placeholder='Band',name='band')
    input(type='submit') Search
  h2 About
  p BandURL provides a link for any band on any page

  h2 Contact Us
  p thephatmann@gmail.com

  if bands.length > 0
    h3 Bands
    .bands
      for band in bands
        li
          a(href=band.url) #{band.name}
  else
    p No bands found.