@import 'nib'

.header-container
  border-bottom: 20px solid black

.footer-container,
.main aside
  

.header-container,
.footer-container,
.main aside
  background: black

.main-container .main
  clearfix()

header.wrapper
  clearfix()

.title
  color: white

.terms
  clear both
  font-style italic
  color white

.images
  clearfix()
  margin-top 20px
  div
    width 300px
    height 300px
    float left
    margin-left 20px

  img
    max-height 100%
    max-width 100%

footer
  clearfix()
  .about
    float left
  .contact
    float right
  